/* side bar */
body #sidebarToggle {
	position: absolute;
	right: 50px;
	top: 8px;
	color: #fff;
	font-size: 20px;
}

body #logout {
	position: absolute;
	right: 10px;
	top: 6px;
	color: #fff;
	font-size: 20px;
}

/* qrcode */
#qrcode {
	background: rgb(39, 38, 38);
	padding: 0;
	margin: 0;
	height: 90vh;
	width: 99%;
}

.tanggal h1 {
	font-size: 40px;
	position: relative;
	top: 150px;
	left: 100px;
}

.jam h1 {
	font-size: 40px;
	position: relative;
	top: 150px;
	left: 210px;
}

.video {
	height: 255px;
	width: 400px;
	border: 5px solid rgb(255, 255, 255);
	position: relative;
	top: 200px;
	left: 100px;
}

#preview {
	height: 400px;
	width: 390px;
	position: relative;
	top: -77px;
	left: 0px;
}

.text {
	position: relative;
	top: 250px;
	left: 40px;
}

.box {
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 30px;
	height: 90vh;
	background: rgba(58, 51, 52, 0.459);
}

.box-header h3 {
	font-family: monospace;
	font-size: 55px;
	color: rgb(125, 134, 130);
	text-shadow: 2px 2px rgb(120, 15, 218);
}

.id-card {
	margin-left: 200px;
	border: 1px solid #fff;
	background: dimgrey;
	height: 500px;
	width: 400px;
	border-radius: 10px;
}

.card-title h5 {
	text-align: center;
	margin-top: 20px;
	font-family: monospace;
	font-size: 25px;
	color: lightgreen;
}

.card-img img {
	margin-top: 10px;
	margin-bottom: 30px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 4px solid rgba(40, 190, 120, 0.867);
}

.code {
	margin-top: 20px;
	margin-left: 100px;
}

.card-box {
	margin-top: 50px;
}

.card-box table {
	margin-top: -25px;
	margin-left: 40px;
	text-align: left;
	font-family: monospace;
	color: lightgreen;
	font-size: 18px;
}
